
*.pyc
*.sw?
\\
**/tmp.txt

*.dat
*.pkl
*.pickle

figures/
figures_paper/

figures_prediction/

**/bin/
**/build/
model_save/
logs/
graphs/
eval_results/
tensorboard/
timing/
#nll/
dataset/ZINC
.idea/

__pycache__
**/__pycache__
